		<footer>
			<div class="wrap">
				<div class="pure-g">
					<div class="pure-u-1-5 social-links">

						<a href="//twitter.com/_2xAA" target="_blank" class="is-not-underlined">
							<i class="fa fa-twitter fa-lg" title="Twitter"></i>
						</a>

						<a href="//instagram.com/2xAA" target="_blank" class="is-not-underlined">
							<i class="fa fa-instagram fa-lg" title="Instagram"></i>
						</a>

					</div>

					<div class="pure-u-3-5">
						<aside class="lfm">
							<a href="http://last.fm/user/theonly2xAA" target="_blank">
								<i class="fa fa-lastfm fa-lg" title="last.fm"></i>&nbsp;
							</a>
						</aside>
					</div>

					<div class="pure-u-1-5" title="My name">

						/ Sam Wray

					</div>
				</div>
			</div>
		</footer>
		<script src="/assets/js/lastfm.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/10.16.2/lazyload.iife.min.js"></script>
		<script>
			new LazyLoad();
		</script>
	</body>
</html>