<div>
	<span class="ibvf"></span>
	<div>Loading!</div>
</div>
<video width="100%" height="100%" class="hide" muted>
	<source autostart="false" src="">
</video>

<div id="capBox" class="hide"></div>
<div id="bars">
	<div id="progress"></div>
	<div id="timeelapsed"></div>
</div>

<div id="play" class="show">
	<span class="ibvf"></span>
	<div>Play?</div>
</div>

<div id="sound">
	<i class="sound fa fa-volume-off"></i>
	<i class="sound fa fa-volume-up hide"></i>
</div>

<ol id="list" class="hide"></ol>

<div id="list-icon">
	<i class="list fa fa-caret-square-o-down"></i>
	<i class="list fa fa-caret-square-o-up hide"></i>
</div>