<!DOCTYPE HTML>
<html lang="en">
	<head>
		{{> head }}
		<title>{{ site.title }}</title>
	</head>
	<body>
		{{> header-about }}

		<section class="portfolio video cv">
			<div class="wrap">
				<div class="pure-g">
					<div class="pure-u-1-1">
						<h1></h1>
					</div>
					<div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-1-4 about-image">
						<aside>
							<img src="../assets/thumb/about.jpg" class="pure-img">
						</aside>
					</div>
					<div class="pure-u-1-1 pure-u-sm-1-2 pure-u-md-3-4 about-intro">
						<p>
							Digital Artist, Louis Theroux lookalike and cool dude.<br>
							Sam has just finished studying Digital Art and Technology at Plymouth University, attaining Second Class Honours (Upper Division) with Certificate of Professional Industrial Experience.<br>
							<br>
							He enjoys writing music, <span title="Sand is evil">short walks on the beach</span> and creating immersive and thoughtful digital works, irl and url.<br>
							<br>
							Photo by <a href="http://www.louisbrowne.co/" target="_blank">Louis Browne</a>.
						</p>
					</div>
					<div class="pure-u-1-1">
						<h2>Skills</h2>
					</div>
					<div class="pure-u-1-2 pure-u-sm-1-3 about-skills-cols">
						<h5>Software</h5>
						<ul>
							<li>JavaScript</li>
							<li>Node.js</li>
							<li>XHTML</li>
							<li>CSS</li>
							<li>Processing</li>
							<li>HTML Canvas</li>
							<li>WebGL</li>
							<li>Mongo DB</li>
							<li>MySQL</li>
							<li>PHP</li>
						</ul>
					</div>
					<div class="pure-u-1-2 pure-u-sm-1-3 about-skills-cols">
						<h5>Physical Computing</h5>
						<ul>
							<li>Arduino</li>
							<li>Teensy</li>
							<li>ESP8266</li>
							<li>IoT</li>
						</ul>
					</div>
					<div class="pure-u-1-1 pure-u-sm-1-3 about-skills-cols">
						<h5>Additional</h5>
						<ul>
							<li>Event Management</li>
							<li>Writing music</li>
							<li>Audio visualisation</li>
							<li>Blender</li>
							<li>Adobe CC</li>
						</ul>
					</div>
					<div class="pure-u-1-1">
						<h2 class="title">Experience</h2>
						<article>
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h1>Tellonline</h1>
									<h2>Junior Developer</h2>
								</div>
								<div class="pure-u-1-5">
									<p>05/2014 - 06/2015</p>
								</div>
							</header>
							<ul>
								<li>Designing and assisting within a team for the development of websites and digital media.</li>
								<li>Attend meetings with prospective clients.</li>
								<li>Quality control of websites and digital media during development and before handover.</li>
								<li>Handling clients daily, face to face, and via various communication mediums.</li>
							</ul>
						</article>
					
						<article>
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h1>PJ Studio | Creative Media Ltd</h1>
									<h2>Web Developer</h2>
								</div>
								<div class="pure-u-1-5">
									<p>03/2012 - 01/2014</p>
								</div>
							</header>
							
							<p>
								Part-time consultant and web-developer. Work includes templating websites in HTML and CSS, developing plugins with jQuery, JS work, PHP scripting and working with Wordpress.
							</p>
							
							<blockquote>
								<p>During the period of time that Sam worked with us at PJ Studio as one of our web developers, he added a strong arm to the team. With briefs being passed to him in a variety of formats, Sam was quick to work out the best solution and put it in to practice; even when the outcome desired by our clients or creative team members wasn't straight forward. Sam was a truly positive addition to the studio.<br>- Phil Johns, MD</p>
							</blockquote>
							<a class="pure-button" href="https://www.linkedin.com/in/samwray#recommendations" title="Read this recommendation on LinkedIn" target="_blank">
								<i class="fa fa-linkedin-square fa-lg"></i>
							    Read on LinkedIn
							</a>
						</article>
					
						<article>
							
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h1>Rewired State</h1>
									<h2>Web Developer</h2>
								</div>
								<div class="pure-u-1-5">
									<p>10/2013 - 10/2013</p>
								</div>
							</header>
							
							<p>Edited a hack day app with involvement from the Department for International Development.</p>
						</article>
						
						<article>
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h1>Blue Flame Media Limited</h1>
									<h2>Web Developer</h2>
								</div>
								<div class="pure-u-1-5">
									<p>04/2013 - 05/2013</p>
								</div>
							</header>
		
							<p>
								Edited websites with a Wordpress CMS, added a booking system built in PHP and jQuery for a local client. Templated a website in HTML and CSS for their partner company Payment Nexus.
							</p>
						</article>
						
						<article>
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h1>Southwest Film and Television Archive</h1>
									<h2>Software and Systems researcher</h2>
								</div>
								<div class="pure-u-1-5">
									<p>06/2011 - 06/2011</p>
								</div>
							</header>
							<p>Researched the best web player and video codecs for their online library service.</p>
						
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h2>Film and Video Technician Volunteer</h2>
								</div>
								<div class="pure-u-1-5">
									<p>05/2009 - 08/2011</p>
								</div>
							</header>
							<p>
								Cataloguing film and video, digitising video recorded on 1" tape, Betamax, VCR, sVHS, Telecine with 16mm film and also editing all the aforementioned formats using various editing processes with new and old equipment.
							</p>
							<p>
								I thoroughly enjoyed giving my time to SWFTA, I learnt a lot about the older machinery, video production and Plymouth's history from working with the great team they have.
							</p>
						</article>
						
					</div>

					<div class="pure-u-1-1">
						<h2 class="title">Awards and Achievements</h2>
						<article>
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h1>Hack the Visual</h1>
									<h2>'Splatmap' - First place</h2>
								</div>
								<div class="pure-u-1-5">
									<p>28/6/2015</p>
								</div>
							</header>
							<p>
								The idea for this hack was to build a piece of software that would help people use their to phones capture 3D images and terrain of the streets, roads and landscape around them for use in videogames, architecture, modelling and history.
							</p>
							<a class="pure-button" href="/splatmap/" title="Splatmap on wray.pro">
								<i class="fa fa-bomb fa-lg"></i>
							   Read more about Splatmap
							</a>
							<a class="pure-button" href="https://www.youtube.com/watch?v=ZNArKCutTR8" title="'HACK THE VISUAL Overview' on YouTube" target="_blank">
								<i class="fa fa-youtube-square fa-lg"></i>
							    Watch Imaging Mind's video on YouTube
							</a>
						</article>
						<article>
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h1>Dropbox Hackathon</h1>
									<h2>Honourable mention</h2>
								</div>
								<div class="pure-u-1-5">
									<p>24/1/2015</p>
								</div>
							</header>
							<p>
								
							</p>
						</article>
						<article>
							<header class="pure-g">
								<div class="pure-u-4-5">
									<h1>McDonald's Hackathon</h1>
									<h2>'Big Hack with Fries' - First place</h2>
								</div>
								<div class="pure-u-1-5">
									<p>23/11/2014</p>
								</div>
							</header>
							<p>
								McDonalds held their first hackathon in November 2014 which aimed to bring their 
millennial target audience into stores and to retain their custom.<br>
								The winning idea was inspired by Activision’s Skylanders; using purchasable figurines with built in NFC identification to change the characters you can control in the game. It was intended to make use of the existing McDonald’s Happy Meals structure, in which toys are included with the purchase of the meal. However for our idea to work, McDonalds would have had to upgrade the quality of their toys, include the NFC technology within the plastic of the toys and include NFC readers with large screens as tabletops in-store. 
							</p>
							<a class="pure-button" href="https://www.youtube.com/watch?v=Jb1pjp7yufQ" title="'McDonald’s Europe Hackathon' on YouTube" target="_blank">
								<i class="fa fa-youtube-square fa-lg"></i>
							    Watch McDonald's video on YouTube
							</a>
						</article>
					</div>

				</div>
			</div>
		</section>
{{> footer }}