<!DOCTYPE HTML>
<html lang="en">
	<head>
		{{> head }}
		<title>{{ site.title }}</title>
	</head>
	<body>
		{{> header-error }}

		<section class="home">
			<div class="wrap">
				<div class="pure-g">
					{{{ contents }}}
				</div>
			</div>
		</section>
{{> footer }}