@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Playfair+Display+SC|Open+Sans+Condensed:300,300italic,700");

$sserif-stack: 'Open Sans Condensed', sans-serif;
$serif-stack: 'Playfair Display', serif;

.is-not-underlined {
  text-decoration: none;
}

ol, ul {
  font-family: $serif-stack;
  line-height: 1.6em;
}

ul {
  list-style-type: square;
}

ul ul,
ul ol,
ol ul,
ol ol {
  padding: 0 0 0 0;
  margin: 0.4em;
  font-size: small;
  list-style-type: none;
}

ul ul li:before,
ul ol li:before,
ol ul li:before,
ol ol li:before {
    content: "\2610";
    margin-right:5px;
}

a .fa {
  color: #000;
}

a:link, a:visited {
  color: #1c89ff;
}

a:focus {
  outline: 0 !important;
}

a.pure-button, header h1 a {
  color: #000 !important;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D";
  font-family: 'Playfair Display', serif;
}

// blockquote:before {
//   color: #ccc;
//   content: open-quote;
//   font-size: 4em;
//   line-height: 0.1em;
//   margin-right: 0.10em;
//   vertical-align: -0.4em;
// }

blockquote p {
  display: inline;
}

header .pure-g {
  border-bottom: rgba(0, 0, 0, 0.03) solid 1px;
}

.pure-g.links {
  padding: 0.6em 0;
}

.pure-g.links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: $sserif-stack;
}

.pure-g.links ul li {
  display: inline-block;
  margin: 0 5px 0 0;
}

h1.preheader {
  font-size: 6em;
  margin: 0.07em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $sserif-stack;
  font-weight: 400;
}

header h1 a {
  text-decoration: none;
  color: #000;
}

section h1,
section h2,
section h3,
section h4,
section h5,
section h6,
.cv h1,
.cv h2,
.cv h3,
.cv h4,
.cv h5,
.cv h6 {
  font-size: 3em;
  margin: 0.2em 0;
  font-family: 'Playfair Display SC', serif;
}

header h1 {
  font-size: auto !important;
  font-family: $sserif-stack !important;
  font-weight: 400;
}

article h1 a  {
  color: #000 !important;
  text-decoration: none;
}

article header h1 {
  font-family: 'Playfair Display SC', serif !important;
}

section h5,
.cv h5 {
  font-size: 1.2em;
}

p {
  font-family: 'Playfair Display', serif;
  line-height: 1.6em;
}

.wrap {
  margin: 0 auto;
  max-width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.ibvf {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
}

section.home article {
  margin: 20px 0;
}

section.home article h1 {
  font-size: 2.8em;
  margin-top: 0;
}

section.home article .pure-u-sm-4-5 {
  box-sizing: border-box;
  @media screen and (min-width: 35.5em) {
    padding: 0 0 0 20px;
  }
}

section.home article .pure-u-sm-1-5 {
  position: relative;

  &::after {
    content: '';
    display: block;
    padding-bottom: 100%;
  }

  a {
    position: absolute;
    width: 100%;
  }
}

section.portfolio.video aside {
  background-color: #000;
  color: #fff;
  max-width: 640px;
  max-height: 640px;
  width: 100%;
  position: relative;
  font-size: 0;
  overflow: hidden;

  height: 0;
    width: 100%;
    padding-bottom: 100%;

    iframe {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &.sixteen-nine {
    padding: 0;
  }
}

section.portfolio.video aside div:nth-child(1) {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}

section.portfolio.video aside div:nth-child(1) div {
  font-size: 16px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: sans-serif;
}

section.portfolio.video video {
  position: relative;
  opacity: 1;
}

section.portfolio.video video.hide {
  opacity: 0;
}

section.portfolio.video aside div#capBox {
  font-family: $sserif-stack !important;
  background-color: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  font-size: 16px;
  overflow: hidden;
  transition: 200ms all;
}

section.portfolio.video aside div#capBox.hide {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

section.portfolio.video div#bars {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 100%;
  left: 0;
}

section.portfolio.video div#bars div {
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 0%;
  left: 0;
}

section.portfolio.video div#play {
  font-size: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  transition: all 500ms;
  background-color: rgba(255,255,255,0.5);
  opacity: 0;
  cursor: pointer;
}

section.portfolio.video div#play.show {
  opacity: 1;
}

section.portfolio.video div#play div {
  font-family: $sserif-stack !important;
  font-size: 68px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-family: sans-serif;
  transition: all 200ms;
  transform-style: preserve-3d;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

section.portfolio.video div#play:hover div {
  transform: scale(1.2);
}

section.portfolio.video div#progress {
  background-color: rgba(255,0,0,0.6);
}

section.portfolio.video div#progress.hide {
  height: 0px;
}

section.portfolio.video div#timeelapsed {
  background-color: rgba(0,255,255,0.6);
}

section.portfolio.video div#sound {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  width: 36px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

section.portfolio.video div#sound i.hide,
section.portfolio.video div#list-icon i.hide  {
  display: none;
}

section.portfolio.video aside.sixteen-nine {
  height: 270px;
}

section.portfolio.video aside:hover div#list-icon,
section.portfolio.video aside div#list-icon.active {
  z-index: 0;
  opacity: 1;
    transition: opacity 200ms ease, z-index 200ms step-start;
}

section.portfolio.video aside div#list-icon.active i {
  text-shadow: 0 0 10px rgba(0,0,0,0.3);
}

section.portfolio.video div#list-icon {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 28px;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
  width: 36px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: -1;
  transition: opacity 200ms ease, z-index 200ms step-end;
  opacity: 0;
}

section.portfolio.video ol#list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  overflow-y: scroll;
  list-style: none;
  padding: 42px 0 0 0;
  z-index: 0;
}

section.portfolio.video ol#list.hide {
  z-index: -1;
}

section.portfolio.video ol#list li {
  box-sizing: border-box;
  font-family: "Open Sans Condensed", sans-serif !important;
  padding: 10px 5px;
  font-size: 14px;
  color: #000;
  cursor: pointer;
}

section.portfolio.video ol#list li:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.75)
}

section.portfolio.video ol#list li:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.75);
  color: #fff;
}

section.portfolio.video ol#list li i {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin: 0 10px 0 -21px;
  transition: margin 200ms ease;
}

section.portfolio.video ol#list li:hover i {
  margin: 0 10px 0 0;
}

section.portfolio.video ol#list li div {
  display: inline-block;
  vertical-align: middle;
  transition: width 200ms;
  width: 100%;
}

section.portfolio.video ol#list li span {
  width: 100%;
  display: block;
  transition: width 200ms;
}

section.portfolio.video ol#list li:hover span {
  width: calc(100% + 31px);
}

section.portfolio.video ol#list li:hover div {
  width: calc(100% - 31px);
}

section.portfolio {
  .media {
    float: left;
    margin: 0 1em 1em 0;
  }

  .media ~ ul {
    display: inline-block;
    width: min-content;
    min-width: 40%;
  }

  .clearer {
    clear: both;
  }

  p:first-of-type {
    margin-top: 0;
  }
}

section.cv {

  article {
    box-sizing: border-box;
    padding: 1em 0 0 0;
  }

  article:not(:last-child)::after {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    content: '';
    display: block;
    margin: 1em 0 0 0;
  }

  article header:not(:first-child) h2 {
    margin: 1em 0;
  }

  article header div:nth-child(2) {
    text-align: right;
  }

  article header h1 {
    font-size: 2em;
  }

  article header h2 {
    font-size: 1.2em;
  }

  ul {
    font-family: $serif-stack;
  }

  margin: 0 0 1em 0;
}

section.blog {
  article.blog-item-preview {

    h1 {
      font-size: 2em;
    }

    .meta {
      font-size: 0.7em;
      color: #b1b1b1;
    }

    .excerpt p {
      margin: 0.5em 0;
    }

    @media screen and (min-width: 35.5em) {
      h1 {
        font-size: 2.5em;
      }
    }
  }

  article.blog-item-preview:not(:last-child) {
    margin: 1em 0 0 0;
    border-bottom: rgba(0,0,0,0.03) solid 1px;
    padding: 0 0 1em 0;
  }

  article.blog-item-preview:last-child {
    margin: 1em 0 0 0;
  }

  article.blog-item {

    h3 {
      font-size: 1.7em;
    }

    ol {
      font-family: 'Playfair Display', serif;
      line-height: 1.6em;
    }

    img, video {
      max-width: 100%;
    }

    @media screen and (min-width: 35.5em) {
      h3 {
        font-size: 2.2em;
      }
    }
  }

  nav.pagination {
    a {
      font-family: "Open Sans Condensed", sans-serif;
    }

    i.fa {
      color:  #1c89ff;
      font-size: 1em;
    }
  }

  .topics {
    font-family: 'Playfair Display', serif;
    margin: 0 0 1em 0;
    font-size: 0.8em;
    text-align: right;

    .topic {
      display: inline-block;
      margin: 0 0.4em 0 0;
    }
  }

  .comments {
    margin: 0 0 1em 0;
  }
}

footer .pure-g > div {
  box-sizing: border-box;
  padding: 1em 0;
}

footer .pure-g > div:nth-child(2) {
  font-family: $sserif-stack;
  text-align: center;
}

footer .pure-g > div:nth-child(2) i {
  margin: 0 3px 0 0;
  vertical-align: top
}

footer .pure-g > div:nth-child(2) a {
  text-decoration: none;
}

footer .pure-g > div:nth-child(2) a:hover i {
  color: #c3000d;
}

footer .pure-g > div:nth-child(2) aside > div:nth-child(2) {
  display: block;
  margin: 5px auto 0 auto;
  vertical-align: top;
  width: 0;
  overflow: hidden;
  transition: 600ms width;
  text-align: center;
  font-size: 12px;
  cursor: default;
}

footer aside {
  position: relative;
  display: inline-block;
}

footer aside div:nth-child(3) {
  width: 110px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 300ms;
  opacity: 0;
  transform: translateY(13px);
  border-radius: 2px;
  background-color: rgb(255, 255, 237);
  pointer-events: none;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
}

footer aside div:nth-child(3) a {
  border: 0;
}

footer aside div:nth-child(3) img {
  width: 100%;
  box-sizing: border-box;
  border: 1px rgb(182, 133, 11) inset;
}

footer .pure-g > div:nth-child(3) {
  font-family: $sserif-stack;
  text-align: right;
}

footer .pure-g {
  border-top: rgba(0, 0, 0, 0.03) solid 1px;
  /* margin: 1em 0 0 0; */
}

footer i {
  transition: 300ms;
}

footer .pure-g div:nth-child(1) a:hover i {
  color: #4099FF;
}

@media screen and (min-width:35.5em) {
  section h1, section h2, section h3, section h4 section h6 {
    font-size: 4em;
  }

  section h5 {
    font-size: 1.3em;
  }


  section.portfolio.video .pure-g > div:nth-child(3) {
    box-sizing: border-box;
    padding: 0 0 0 20px;
  }
}

@media screen and (min-width:48em) {
  footer .pure-g div:nth-child(2) {
    max-height: 22px;
  }

  footer .pure-g div:nth-child(2) aside div:nth-child(2) {
    display: inline-block;
    margin: -1px 0 0 0;
    text-align: left;
    white-space: nowrap;
  }
}

@media screen and (min-width:64em) {

}


.social-links {
  .fa-instagram:hover {
    &:before {
      // gradient sourced here: https://codepen.io/thomasrye/pen/VaRoYv
      background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      text-fill-color: transparent;
    }
  }

  a:not(:last-child) {
    margin-right: 0.5rem;
  }
}

img:not([src]) {
  visibility: hidden;
}

/* Fixes Firefox anomaly during image load */
@-moz-document url-prefix() {
  img:-moz-loading {
    visibility: hidden;
  }
}