/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic|Playfair+Display+SC|Open+Sans+Condensed:300,300italic,700'); */

/* $serif-stack: 'Playfair Display', serif; */

:root {
  --fontSize: 1rem;
  /* --sansFont: 'Open Sans Condensed', sans-serif; */
  /* --serifFont: 'Playfair Display', serif; */
  /* --titleFont: 'Playfair Display SC', serif; */
  --background-color: #fffaf6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #130d0d;
    --foreground-color-rgb: 250, 250, 250;
    --foreground-color-color: 0.98039216 0.98039216 0.98039216;
  }
}

a {
  text-decoration: underline
    color(display-p3 var(--foreground-color-color) / 0.3);
}

@media only screen and (max-width: 600px) {
  :root {
    --fontSize: calc(100vw / 30);
  }
}

@media only screen and (max-device-width: 812px) and (orientation: landscape) {
  :root {
    --fontSize: 1.7vw;
  }
}

@media only screen and (max-width: 600px) {
  body > r-grid {
    grid-row-gap: var(--lineHeight);
  }
}

@media print {
  :root {
    --fontSize: 14px;
  }

  h2 {
    position: relative;
    page-break-before: always;
    page-break-inside: avoid;
  }
  h3,
  h4 {
    position: relative;
    page-break-after: avoid;
    page-break-inside: avoid;
  }
  p,
  pre,
  blockquote {
    position: relative;
    page-break-inside: avoid;
  }
}

main {
  padding: 0 5%;
  margin: 0 auto;
  max-width: 1024px;
}

h2 {
  white-space: normal;
}

.video-container > div {
  display: flex;
}

.video-container,
.video-container iframe,
.video-container object,
.video-container embed {
  aspect-ratio: 16 / 9;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: underline;
  text-decoration-color: rgba(var(--foreground-color-rgb), 0.3);
  white-space: normal;
}

a.router-link-active {
  pointer-events: none;
  text-decoration: none;
}

a:hover {
  color: var(--yellow) !important; /* @todo this shouldn't be needed */
  text-decoration-color: rgba(
    var(--yellow),
    0.3
  ) !important; /* @todo this shouldn't be needed */
}

nav a {
  margin-right: 0.5em;
}

.horizontal_list ul > li {
  display: inline-block;
  margin-right: 0.5em;
}

.portfolio_item img,
.about_header img {
  aspect-ratio: 1/1;
}

.job_date,
.award_date,
.about_header {
  align-items: flex-end;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.job:not(:last-child),
.award:not(:last-child),
.talk:not(:last-child) {
  border-bottom: 1px solid;
  padding-bottom: var(--rowGap);
}

.job .related_work img {
  border-radius: 6px;
}

.icon {
  margin-right: 0.5em;
}

.icon path {
  fill: var(--foreground-color);
}

aside.lfm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

aside.lfm a.icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

aside.lfm div {
  overflow: hidden;
  text-align: center;
  font-size: calc(1em * 0.75);
  cursor: default;

  display: inline-block;
  text-align: left;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  aside.lfm div {
    display: inline-block;
    text-align: center;
  }
}

footer {
  border-top: 1px solid color(display-p3 var(--foreground-color-color) / 0.1);
  padding-top: var(--rowGap);
}

canvas.background {
  position: fixed;
  top: 0;
  left: 0;
}

r-grid {
  position: relative;
}

.inner_page {
  border-top: 1px solid color(display-p3 var(--foreground-color-color) / 0.1);
  padding-top: var(--rowGap);
}
